<<<<<<< HEAD

* { 
	box-sizing: border-box;
}

 
html {
    font-size: 100%;
}


@font-face {
    font-family: 'BohemianSoul-Regular';
    src: url('fonts/BohemianSoul-Regular.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('fonts/Gilroy-Medium.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #0D2C43;
    margin: 2rem 2rem 3rem;
}

h1 {
    font-family: 'BohemianSoul-Regular';
    color: #D99D90;
    font-weight: lighter;
    font-size: 2.5rem;
}

h2 {
    font-family: 'BohemianSoul-Regular';
    color: #E5D0CB;
    font-weight: 100;
    font-size: 32px;
    letter-spacing: 1px;
    font-size: 1.75rem;
    margin: 0 0 .3rem;
}

h3 {
    font-family: 'Gilroy-Medium';
    color: #E5D0CB;
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: -1rem;
}

h4 {
    font-family: 'Gilroy-Medium';
    font-weight: 100;
    letter-spacing: 0.5px;
    color: #F38066;
    font-size: 18px;
    margin: 0;
}

h5 {
    font-family: 'Gilroy-Medium';
    color: #E5D0CB;
    font-size: 16px;
    margin: .3rem 0 0;
}

img {
    margin: 0;
    width: 89%;
}

main {
    display: flex;
    align-content: center;
    justify-content: center;
}


.text {
    position: relative;
    top: -.5rem;
}

.header {
    text-align: center;
    margin-bottom: .5rem;
}

.footer {
    text-align: center;
    margin-top: 3.5rem;
}

.footer h2 {
    color: #D99D90;
    font-size: 2rem;
}

.footer h3 {
    color: #E5D0CB;
    font-family: 'BohemianSoul-Regular';
    margin-top: -1rem;
    font-size: 1.1rem;
}

.main_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    padding-top: .5rem;
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.container {
    height: 100%;
}

.description {
    text-align: center;
}

img.logo {
    margin-top: .4rem;
    width: 440px;

}

.lets_talk {
    width:160px;
    margin: 2rem 0 .9rem;
}
 /*Image expands*/

 .description>a>img {
    transition: all .3s ease-in-out;
   }

   .description>a>img:hover {
   transform: scale(1.05);
   filter:saturate(1.35);
}

/*email links*/

a {
    text-decoration: none;
} 

h5:hover {
     text-decoration: underline;
     cursor: pointer;
     color: #D99D90;
 }

/*aesthetically pleasing fade in*/

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.description {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

#molyna_description {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

#parker_description {
  -webkit-animation-delay: 1.0s;
  -moz-animation-delay:1.0s;
  animation-delay: 1.0s;
}

#megan_description {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s;
  }

#allie_description {
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

@media (min-width: 240px) {
    #parker_description, #allie_description {
        position: static;
    }
}
@media (max-width: 697px) {

    img.logo {
        width: 320px;
        margin-top:.5rem;
    }
    
    .footer{
        margin: 2rem 0;
    }

    .lets_talk{
        margin-top: 0;
    }
    
    .header, .footer {
        opacity:0;  /* make things invisible upon start */
        -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
        -moz-animation:fadeIn ease-in 1;
        animation:fadeIn ease-in 1;
      
        -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
        -moz-animation-fill-mode:forwards;
        animation-fill-mode:forwards;
      
        -webkit-animation-duration:1s;
        -moz-animation-duration:1s;
        animation-duration:1s;
    
        -webkit-animation-delay: 0.8s;
        -moz-animation-delay: 0.8s;
        animation-delay: 0.8s;
    }

}

@media (min-width: 698px) {
    #parker_description, #allie_description {
        position: relative;
        top: 50px;
    }

    .main_content {
        max-width: 1350px;
    }

    .header, .footer {
        opacity:0;  /* make things invisible upon start */
        -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
        -moz-animation:fadeIn ease-in 1;
        animation:fadeIn ease-in 1;
      
        -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
        -moz-animation-fill-mode:forwards;
        animation-fill-mode:forwards;
      
        -webkit-animation-duration:1.4s;
        -moz-animation-duration:1.4s;
        animation-duration:1.4s;
    
        -webkit-animation-delay: 1.0s;
        -moz-animation-delay:1.0s;
        animation-delay: 1.0s;
    }
=======

* { 
	box-sizing: border-box;
}

 
html {
    font-size: 100%;
}


@font-face {
    font-family: 'BohemianSoul-Regular';
    src: url('fonts/BohemianSoul-Regular.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('fonts/Gilroy-Medium.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #0D2C43;
    margin: 2rem 2rem 3rem;
}

h1 {
    font-family: 'BohemianSoul-Regular';
    color: #D99D90;
    font-weight: lighter;
    font-size: 2.5rem;
}

h2 {
    font-family: 'BohemianSoul-Regular';
    color: #E5D0CB;
    font-weight: 100;
    font-size: 32px;
    letter-spacing: 1px;
    font-size: 1.75rem;
    margin: 0 0 .3rem;
}

h3 {
    font-family: 'Gilroy-Medium';
    color: #E5D0CB;
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: -1rem;
}

h4 {
    font-family: 'Gilroy-Medium';
    font-weight: 100;
    letter-spacing: 0.5px;
    color: #F38066;
    font-size: 18px;
    margin: 0;
}

h5 {
    font-family: 'Gilroy-Medium';
    color: #E5D0CB;
    font-size: 16px;
    margin: .3rem 0 0;
}

img {
    margin: 0;
    width: 89%;
}

main {
    display: flex;
    align-content: center;
    justify-content: center;
}


.text {
    position: relative;
    top: -.5rem;
}

.header {
    text-align: center;
    margin-bottom: .5rem;
}

.footer {
    text-align: center;
    margin-top: 3.5rem;
}

.footer h2 {
    color: #D99D90;
    font-size: 2rem;
}

.footer h3 {
    color: #E5D0CB;
    font-family: 'BohemianSoul-Regular';
    margin-top: -1rem;
    font-size: 1.1rem;
}

.main_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    padding-top: .5rem;
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.container {
    height: 100%;
}

.description {
    text-align: center;
}

img.logo {
    margin-top: .4rem;
    width: 440px;

}

.lets_talk {
    width:160px;
    margin: 2rem 0 .9rem;
}
 /*Image expands*/

 .description>a>img {
    transition: all .3s ease-in-out;
   }

   .description>a>img:hover {
   transform: scale(1.05);
   filter:saturate(1.35);
}

/*email links*/

a {
    text-decoration: none;
} 

h5:hover {
     text-decoration: underline;
     cursor: pointer;
     color: #D99D90;
 }

/*aesthetically pleasing fade in*/

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.description {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

#molyna_description {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

#parker_description {
  -webkit-animation-delay: 1.0s;
  -moz-animation-delay:1.0s;
  animation-delay: 1.0s;
}

#megan_description {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s;
  }

#allie_description {
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

@media (min-width: 240px) {
    #parker_description, #allie_description {
        position: static;
    }
}
@media (max-width: 697px) {

    img.logo {
        width: 320px;
        margin-top:.5rem;
    }
    
    .footer{
        margin: 2rem 0;
    }

    .lets_talk{
        margin-top: 0;
    }
    
    .header, .footer {
        opacity:0;  /* make things invisible upon start */
        -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
        -moz-animation:fadeIn ease-in 1;
        animation:fadeIn ease-in 1;
      
        -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
        -moz-animation-fill-mode:forwards;
        animation-fill-mode:forwards;
      
        -webkit-animation-duration:1s;
        -moz-animation-duration:1s;
        animation-duration:1s;
    
        -webkit-animation-delay: 0.8s;
        -moz-animation-delay: 0.8s;
        animation-delay: 0.8s;
    }

}

@media (min-width: 698px) {
    #parker_description, #allie_description {
        position: relative;
        top: 50px;
    }

    .main_content {
        max-width: 1350px;
    }

    .header, .footer {
        opacity:0;  /* make things invisible upon start */
        -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
        -moz-animation:fadeIn ease-in 1;
        animation:fadeIn ease-in 1;
      
        -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
        -moz-animation-fill-mode:forwards;
        animation-fill-mode:forwards;
      
        -webkit-animation-duration:1.4s;
        -moz-animation-duration:1.4s;
        animation-duration:1.4s;
    
        -webkit-animation-delay: 1.0s;
        -moz-animation-delay:1.0s;
        animation-delay: 1.0s;
    }
>>>>>>> 29c900157367faa37061ba6e35a9d123fefc1bfb
}